{
	"printWidth": 120,
	"tabWidth": 4,
	"trailingComma": "es5",
	"semi": true,
	"useTabs": true,
	"singleQuote": true,
	"quoteProps": "consistent",
	"jsxSingleQuote": true,
	"arrowParens": "avoid",
	"bracketSameLine": true
}
