#ignore libs files
src/ThreeEditor/js/libs/
src/libs/
public/libs

#ignore npm files
node_modules/

#ignore auto generated config files
.github/
.prettierrc
.vscode/
.devcontainer/
.gitpod.yml
README.md