.zoneManagerWrapper{
    position: absolute;
    width: min(1200px,80vw);
    height: min(240px,25vh);
    bottom: 0;
    left: min(200px,10vw);
    background: white;
    border: 2px solid black;
    z-index: 1000;
    overflow: auto;
    display: grid;
}
.addRowButton{
    max-width: 100%;
}
.parseZoneButton{
    max-width: 200px;
}
.zoneManagerRow{
    display: flex;
    color: black;
    background: #fafafa;
    border-bottom: 1px solid black;
    padding: 5px;
    min-width: fit-content;
    flex-grow: 1;
}
.zoneManagerRow .deleteButton{
    margin-left: auto;
}
.geometrySelect{
    min-width:10ch;
}
.operationSelect img{
    max-height: 20px;
    margin-bottom: -5px;
}