.editor-sidebar-tree :where(ul, li),
.editor-sidebar-tree:where(ul, li) {
	list-style: none;
	padding: 0;
	margin: 0;
}

.editor-sidebar-tree {
	padding-bottom: 10px;
}

.editor-sidebar-drop-target {
	background-color: var(--mui-palette-grey-800);
}

.editor-sidebar-drop-target-divider {
	border-bottom: 2px solid var(--mui-palette-primary-main);
	margin: 0.2rem;
}
